button {
  cursor: pointer;
}

.nav-menu__btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 12px;
  background: none;
  border: none;
  outline: none;

  &--menu {
    background-color: #ffffffb2;
  }
}

.main-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 12px 24px;
  margin-top: 16px;
  border: none;
  display: inline-block;
  width: max-content;
  max-width: 250px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  &--dark {
    background-color: #f1f1f1;
    &:hover {
      background-color: #ccc;
    }
  }

  &__span {
    display: flex;
    align-items: center;
  }
  &__span-icon {
    display: inline-block;
    margin-right: 4px;
    width: 18px;
    height: 18px;
  }
}
