@use '../base/vars';

.about {
  &__text {
    font-size: 15px;
    color: vars.$main-gray-color;
    margin-bottom: 4px;
  }

  &__tools-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    padding: 0;
    width: 100%;
  }

  &__tools-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: vars.$main-gray-color;
  }
}
