@use '../base/vars';

.contact {
  &__address {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__address-link {
    &--location::before {
      content: url('/public/icons/map-marker.svg');
    }
    &--phone::before {
      content: url('/public/icons/phone.svg');
    }
    &--email::before {
      content: url('/public/icons/envelope.svg');
    }

    &--location::before,
    &--phone::before,
    &--email::before {
      position: relative;
      left: 0;
      bottom: -4px;
      margin-right: 20px;
    }
  }

  &__text {
    font-size: 15px;
    color: vars.$main-gray-color;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    button {
      margin-top: 0;
    }
  }

  &__form-input {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid vars.$main-gray-color;
  }
}
