/*montserrat-100*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat"), url("/fonts/Montserrat-Thin-100.woff2") format("woff2");
}
/*montserrat-200*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat"), url("/fonts/Montserrat-ExtraLight-200.woff2") format("woff2");
}
/*montserrat-300*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("/fonts/Montserrat-Light-300.woff2") format("woff2");
}
/*montserrat-400*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("/fonts/Montserrat-Regular-400.woff2") format("woff2");
}
/*montserrat-500*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url("/fonts/Montserrat-Medium-500.woff2") format("woff2");
}
/*montserrat-600*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), url("/fonts/Montserrat-SemiBold-600.woff2") format("woff2");
}
/*montserrat-700*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("/fonts/Montserrat-Bold-700.woff2") format("woff2");
}
/*montserrat-800*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat"), url("/fonts/Montserrat-ExtraBold-800.woff2") format("woff2");
}
/*montserrat-900*/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), url("/fonts/Montserrat-Black-900.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
p strong {
  font-weight: 600;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #757575;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
img img[style*="width: 1000px"] {
  width: 1000px;
  aspect-ratio: auto 1000/1333;
  height: 1333px;
}

main {
  margin-left: 40%;
  margin-bottom: 64px;
  padding: 12px 24px;
  transition: margin-left 0.4s;
}
@media (max-width: 992px) {
  main {
    margin-left: 0;
    margin-right: 0;
  }
}

section {
  max-width: 980px;
  padding: 32px 0px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 30px;
  margin: 10px 0;
  color: #757575;
}

.section-subtitle {
  font-size: 24px;
  margin: 10px 0;
  color: #757575;
}

.breaking-line {
  height: 0;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  overflow: visible;
  opacity: 0.6;
}

.accent {
  letter-spacing: 2px;
}

.sidebar {
  height: 100%;
  width: 40%;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  overflow: auto;
}
.sidebar__image {
  background-image: url("/images/main-photo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}

.nav-menu {
  display: none;
  position: fixed;
  right: 0;
  height: 100%;
  width: 60%;
  padding-top: 150px;
  background-color: #000;
  color: white;
  overflow: auto;
  z-index: 1;
  animation: animateright 0.4s;
}
.nav-menu.is-visible {
  display: block;
}
.nav-menu__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 14px;
  background: white;
  border: none;
  outline: none;
}
.nav-menu__btn--close {
  background-color: inherit;
}
.nav-menu__btn img {
  width: 36px;
  height: 36px;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu__link {
  text-align: center;
  display: block;
  padding: 8px 16px;
  outline: 0;
  font-size: 36px;
  color: #757575;
  text-decoration: none;
}

@keyframes animateright {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
button {
  cursor: pointer;
}

.nav-menu__btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 12px;
  background: none;
  border: none;
  outline: none;
}
.nav-menu__btn--menu {
  background-color: rgba(255, 255, 255, 0.6980392157);
}

.main-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 12px 24px;
  margin-top: 16px;
  border: none;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}
.main-button--dark {
  background-color: #f1f1f1;
}
.main-button--dark:hover {
  background-color: #ccc;
}
.main-button__span {
  display: flex;
  align-items: center;
}
.main-button__span-icon {
  display: inline-block;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5568627451);
}
.modal__close-button {
  position: absolute;
  top: 10px;
  right: 0px;
  display: flex;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}
.modal__close-icon {
  width: 60px;
  height: 60px;
  fill: rgb(255, 255, 255);
}
.modal.is-open {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 16px;
  text-align: center;
}
.header__title {
  margin: 10px auto;
  font-size: 40px;
  font-weight: 500;
  text-wrap: balance;
}
.header p {
  text-align: center;
  margin: 15px auto;
}
.header__photo {
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .header__photo--hide-small {
    display: none !important;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .header__photo--hide-medium {
    display: none !important;
  }
}
@media (min-width: 993px) {
  .header__photo--hide-large {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 64px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}
.gallery__col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about__text {
  font-size: 15px;
  color: #757575;
  margin-bottom: 4px;
}
.about__tools-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  padding: 0;
  width: 100%;
}
.about__tools-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #757575;
}

.contact__address {
  margin-top: 16px;
  margin-bottom: 16px;
}
.contact__address-link--location::before {
  content: url("/public/icons/map-marker.svg");
}
.contact__address-link--phone::before {
  content: url("/public/icons/phone.svg");
}
.contact__address-link--email::before {
  content: url("/public/icons/envelope.svg");
}
.contact__address-link--location::before, .contact__address-link--phone::before, .contact__address-link--email::before {
  position: relative;
  left: 0;
  bottom: -4px;
  margin-right: 20px;
}
.contact__text {
  font-size: 15px;
  color: #757575;
  margin-top: 1em;
  margin-bottom: 1em;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact__form button {
  margin-top: 0;
}
.contact__form-input {
  width: 100%;
  padding: 16px 8px;
  border: 1px solid #757575;
}

.footer {
  padding: 64px 16px;
  margin-left: 40%;
  transition: margin-left 0.4s;
  background-color: #f1f1f1;
}
.footer__social {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
}
.footer__social-icon {
  width: 28px;
  height: 28px;
  fill: #757575;
}
.footer__text {
  text-align: center;
  color: #757575;
}
.footer__text a {
  color: #68b1ce;
  font-weight: bold;
  border-bottom: 1px solid #68b1ce;
}
@media (max-width: 992px) {
  .footer {
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */